<html>
    <%- include('header.ejs') %>
    <h1>Brain</h1>
    <form method="post" action="/wallet">
        <input type="text" name="brainsrc" />
        <input type="submit" value="CCreate" />
    </form>
</html>