<html>
    <title>lastPrice</title>
    CREATE brain wallet 
    <Script >
        $printPrice
        console.log(printPrice)
    </Script> 
    <form method="post" action="/wallet">
        <input type="text" name="brainsrc" />
        <input type="submit" value="Create" />
    </form>
</html>